*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-5p{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.underline-link:hover {
  text-decoration: underline;
}
/* Header Part */

.header-top-strip{
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.header-upper.header-upper-links img{
  width: 35px;
  height: 35px;
}
.header-bottom{
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover,
.headertag:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Header Part End */

/* Footer Part */

footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* Footer Part End */

/* Home Page */

/* Home wrapper 1 */
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
}
.main-banner-content h5 {
  font-size: 52px;
  font-weight: 500;
  line-height: 54px;
  padding: 0;
  letter-spacing: -2px;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 22%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-bf4800);
  margin-bottom: 0px;
  letter-spacing: 0.3px;
}
.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 0px;
  padding: 0px;
  letter-spacing: -1px;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
  margin-bottom: 0px;
}

/* Home wrapper 2 */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/* Categories section */

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1), 
.categories > div:nth-child(2), 
.categories > div:nth-child(3), 
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1), 
.categories > div:nth-child(2), 
.categories > div:nth-child(3),
.categories > div:nth-child(5), 
.categories > div:nth-child(6), 
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* Home Page End*/

/* Blog Part */

.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
.single-blog-card .nav-bar {
  border-top: 1px solid var(--color-ededed);
}
.single-blog-card .nav-bar a {
  color: var(--color-131921);
}
.single-blog-card .nav-bar p,
.single-blog-card .nav-bar .back-blog {
  color: var(--color-777777);
}

/* Blog Part End */

/* Product Card */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px; 
  overflow: hidden;
  width: 100%;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  display: block;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .action-bar{
  right: 15px;
}
.product-card .product-detail h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-detail h5 {
  color: var(--color-131921);
  font-size: 15px;
}
.product-card .product-detail p.price {
  color: var(--color-131921) !important;
  font-size: 16px;
}
.product-card .product-detail p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}
.action-bar {
  top: 10%;
  right: -20px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}

/* Product Card End */

/* Special Product */

.special-product-card {
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
}

/* Special Product End*/

/* Famous Product */

.famous-card img {
  border-radius: 15px;
}

.famous-card .famous-content {
  top: 10%;
  left: 10%;
  color: white;
}

.famous-card .famous-content h5 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;
}

.famous-card .famous-content h6 {
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.famous-card .famous-content p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

/* Famous Product End*/

/* Our Store */

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-131921);
}
.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-131921);
  margin-bottom: 15px;
  margin-top: 15px;
}
.color {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.color li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.random-product h5 {
  font-size: 14px;
  margin-bottom: 8px;
}
.random-product:first-child {
  border-bottom: 1px solid var(--color-ededed);
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}
.gr-12 .product-card .product-image{
  width: 270px;
  gap: 20px;
  height: auto;
}
.gr-12 .action-bar{
  top: 20%
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32.5%;
}
.gr-4 .product-image {
  width: 100%;
}
.gr-4 .product-image img {
  margin: auto;
  display: block;
}
.gr-3 {
  width: 24%
}
/* Our Store End */

/* Contact Page */

.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/* Contact Page End */

/* Compare Products Page */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 10px;
  right: 10px;
  width: 20px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-detail h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-131921);
}
.compare-product-detail h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-131921);
}
.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);
  gap: 10px;
}
.compare-product-card .product-detail p {
  margin-bottom: 8px;
}

/* Compare Products Page End */

/* Auth Card */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-131921);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-131921);
}
.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.signup:hover {
  background-color: var(--color-131921);
  color: white;
}
.auth-card p {
  font-size: 14px;
  color: var(--color-777777);
}

/* Auth Card End */

/* Policy Card */

.policy-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.policy-card h5 {
  margin-bottom: 8px;
}
.policy-card p {
  margin-bottom: 16px;
  color: var(--color-777777);
  text-align: justify;
}

/* Policy Card End */ 

/* Main Product */

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head a {
  padding-bottom: 10px;
}
.review-head p, 
.review-head a {
  font-size: 16px;
  color: var(--color-777777);
}
.review-submit-button {
  display: flex;
  justify-content: flex-end;
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}

.other-product-image {
  background-color: white;
  padding: 20px;
}
.other-product-image > div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-detail {
  padding: 20px;
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-detail h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-131921);
  margin-bottom: 10px;
}
.main-product-detail p.price {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.product-detail-heading {
  font-size: 14px;
  color: var(--color-131921);
  margin-bottom: 0;
}
.product-detail-data {
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0;
}
.main-product-detail a {
  font-size: 14px;
  color: var(--color-777777);
}
.main-product-detail .policy {
  font-size: 18px;
  color: var(--color-131921);
  font-weight: 500;
}
/* Main Product End */

/* Cart */

.cart-header {
  border-bottom: 1px solid #eaeaea;
} 
.cart-header h4 {
  font-size: 13px;
  color: var(--color-777777);
}
.cart-col-1 {
  width: 40%
}
.cart-col-2 {
  width: 15%
}
.cart-col-3 {
  width: 15%
}
.cart-col-4 {
  width: 15%
}
.cart-dataa h5.price {
  font-size: 14px;
  color: var(--color-131921);
}

/* Cart End */


.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
